a {
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Raleway', sans-serif;
  flex-grow: 1;
}

/* Added some CSS here to make footer sticky. Can delete this if Mark was already working on a solution */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbarLink {
  display: flex;
  flex-direction: column;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Footer */
#footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* background-color: #3f51b5; */
}

/* Form */

.form-page {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-top: 50px;
  align-items: center;
  min-height: 90vh;
  background-color: #f5f5dc;
}

/* changes to the form fields (eg: size) */
.form-container {
  display: flex;
  flex-direction: column;
  width: 230px;
}

.form-title {
  font-size: 26px;
  font-weight: bold;
  margin: 30px;
}

/* user profile page */

#user-profile-page {
  min-height: 85vh;
  padding: 20px;
  /* background-image: url('http://www.maurilioamorim.com/wp-content/uploads/2011/05/fitness.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

/* #user-profile-page::before {
  position: absolute;
  text-align: none;
  content: '';
  z-index: -1;
  height: 50vh;
  background-image: url('http://www.maurilioamorim.com/wp-content/uploads/2011/05/fitness.jpg');
  background-repeat: no-repeat;
} */

.user-profile-info {
  margin: 20px;
  font-size: 20px;
}

/* CSS for Workout Log */
#workoutlog-title {
  text-align: center;
}

#table {
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#table td,
#table th {
  border: 1px solid #ddd;
  padding: 12px;
}

#table tr:hover {
  background-color: gray;
}

#table th {
  padding: 10px;
  text-align: center;
  background-color: #4169e1;
  color: white;
}
